In [ ]:
#===================================================
#
# 52WeekRatio.ipynb: Return 52 Week High/Low
#
# Author: Shubhrakanti Ganguly
#===================================================

import pandas as pd

#Get the csv into a dataframe and trun the 'date' column into a pandas dateTime object so we can work with it easily
df = pd.read_csv("prices-split-adjusted.csv")
df['date'] = pd.to_datetime(df.date)

#Keep only the data from 2016 (we only need 1 years worth of data)
mask = (df['date'] > '2015-12-31')
df = df.loc[mask]


#Keep only the high and low and merge it all into one final data frame
s1 = df.groupby(['symbol'], sort=False)['close'].max()
s2 = df.groupby(['symbol'], sort=False)['close'].min()
final = pd.concat([s1, s2], axis=1).reset_index()
final.columns = ['symbol','high','low']

final.head()

  symbol        high         low
0   WLTW  132.770004  107.129997
1      A   48.439999   34.799999
2    AAL   49.639999   25.270000
3    AAP  176.779999  136.190002
4   AAPL  118.250000   90.339996

In [69]:
def get_52_week_ratio(ticker, high=None, low=None):
    
    #User didn't give prices so I have to find it from my list of stocks
    if not high or not low:
        
        #If you give me a stock I don't have data for and you don't provide data, fuck you 
        assert ticker in final.symbol.values, "Please provide 52 week a high and low"
        
        #Fetch the data for the particular stock 
        data = final.loc[final["symbol"] == ticker]
        return data["high"].values[0]/data["low"].values[0]
    else:
        #Give you ratio using your data
        assert low != 0, "Can't divide by 0"
        return high/low

get_52_week_ratio("AAPL")

1.3089440473298228